nav{
    margin-top:-60px;
    padding: 10px 25px;
    display: flex;
    width: 100%;
    justify-content: space-between; /* Distribute space between child elements */

}

.navbg{
    background-color: #f1f2f3;

}
ul{
    display: grid;
    grid-template-columns: 0fr 0fr;
    justify-content: end;
}

li{
    list-style-type: none;
    border-bottom-style:none;
    padding-right: 10px;;
}

nav a{
    text-decoration: none;
    color: #26374a;
    padding: 10px 15px;
    border-radius: 5px;

}

nav a:hover{
    text-decoration: none;
    color: #26374a;
    background-color: rgb(182, 182, 182);
}

.active{
    background-color: #26374a;
    color:white
}